@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(http://fonts.gstatic.com/s/signika/v7/ejLRhBEorqjLDaF8s-xuTQ.ttf) format('truetype');
}
